<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--激活注解
    扫描该包以及子包，激活包下所有未被屏蔽的注解
        -->
    <context:component-scan base-package="com.zcz1024"/>
    <!--配置一个视图解析器
    常用的内部视图资源解析器
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--配置两个属性：
        1.前缀  2.后缀
        -->
        <property name="prefix" value="/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--拦截器配置-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**/*"/>
            <bean class="com.zcz1024.interceptors.LoginInterceptor"></bean>
        </mvc:interceptor>

        <!--配置会话拦截器-->
        <mvc:interceptor>
            <!--
            只想拦截/user/**/*
            还需要开放登陆权限user/**/*
            -->
            <mvc:mapping path="/usera/**/*"/>

            <mvc:exclude-mapping path="/usera/login"/>
            <bean class="com.zcz1024.interceptors.SessionInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--默认的servlet处理者
    处理静态资源访问问题的方法一
    -->
    <mvc:default-servlet-handler/>
    <!--为了让原有的controller生效。需要一个注解驱动-->
    <mvc:annotation-driven/>
    <!--方法二
    通过映射关系描述一一编写规则
    -->
   <!-- <mvc:resources mapping="/static/css/*" location="static/css/"/>-->
</beans>